Repository across-protocol/frontend, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @dohaki, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara, @NikolasHaimerl, @pxrl

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
* @mrice32 @nicholaspai @dohaki @gsteenkamp89 @amateima @ashwinrava @melisaguevara @NikolasHaimerl

# Serverless api
/api/ @mrice32 @nicholaspai @dohaki @pxrl @melisaguevara @amateima @ashwinrava @NikolasHaimerl

# FE
/src/ @mrice32 @nicholaspai @dohaki @gsteenkamp89 @amateima

# Shared
/src/data/ @mrice32 @nicholaspai @dohaki @pxrl @gsteenkamp89 @melisaguevara @amateima @ashwinrava @NikolasHaimerl
/scripts/ @mrice32 @nicholaspai @dohaki @pxrl @gsteenkamp89 @melisaguevara @amateima @ashwinrava @NikolasHaimerl

fix
  api/_bridges/cctp/utils/constants.ts
Owners: @mrice32, @nicholaspai, @dohaki, @pxrl, @melisaguevara, @amateima, @ashwinrava, @NikolasHaimerl

fix tests
  test/api/_bridges/cctp/strategy.test.ts
Owners: @mrice32, @nicholaspai, @dohaki, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara, @NikolasHaimerl

refactor: update buildOftTx test to use numeric values instead of hex and clean up comments
  e2e-api/bridges/oft/strategy.test.ts
  scripts/tests/_swap-cases.ts
Owners: @mrice32, @nicholaspai, @dohaki, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara, @NikolasHaimerl, @pxrl

feat: 4557 api unsponsored usdt0 evm to hypercore via lz (#1906)
  api/_bridges/oft/strategy.ts
  api/_bridges/oft/utils/constants.ts
  e2e-api/bridges/oft/strategy.test.ts
  scripts/tests/_swap-cases.ts
  scripts/tests/_swap-utils.ts
  test/api/_bridges/oft/strategy.test.ts
Owners: @mrice32, @nicholaspai, @dohaki, @pxrl, @melisaguevara, @amateima, @ashwinrava, @NikolasHaimerl, @gsteenkamp89

refactor and style change account modal
  src/components/Input/index.tsx
  src/views/Bridge/components/ChangeAccountModal.tsx
  src/views/Bridge/hooks/useToAccount.ts
  src/views/SwapAndBridge/components/ConfirmationButton.tsx
  src/views/SwapAndBridge/components/InputForm.tsx
  src/views/SwapAndBridge/hooks/useSwapAndBridge.ts
  src/views/SwapAndBridge/index.tsx
Owners: @mrice32, @nicholaspai, @dohaki, @gsteenkamp89, @amateima

fixup
  src/views/Bridge/components/ChangeAccountModal.tsx
  src/views/SwapAndBridge/components/InputForm.tsx
Owners: @mrice32, @nicholaspai, @dohaki, @gsteenkamp89, @amateima

better quote errors
  src/utils/errors.ts
  src/views/SwapAndBridge/components/ConfirmationButton.tsx
Owners: @mrice32, @nicholaspai, @dohaki, @gsteenkamp89, @amateima

add native balance support
  api/user-token-balances.ts
  api/user-token-balances/_service.ts
  api/user-token-balances/index.ts
Owners: @mrice32, @nicholaspai, @dohaki, @pxrl, @melisaguevara, @amateima, @ashwinrava, @NikolasHaimerl
