Repository across-protocol/frontend, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara, @pxrl

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
* @mrice32 @nicholaspai @dohaki @james-a-morris @gsteenkamp89 @amateima @ashwinrava @melisaguevara

# Serverless api
/api/ @mrice32 @nicholaspai @dohaki @james-a-morris @pxrl @melisaguevara @amateima @ashwinrava

# FE
/src/ @mrice32 @nicholaspai @dohaki @james-a-morris @gsteenkamp89 @amateima

# Shared
/src/data/ @mrice32 @nicholaspai @dohaki @james-a-morris @pxrl @gsteenkamp89 @melisaguevara @amateima @ashwinrava
/scripts/ @mrice32 @nicholaspai @dohaki @james-a-morris @pxrl @gsteenkamp89 @melisaguevara @amateima @ashwinrava

fixup
  src/views/Bridge/components/TokenSelector.tsx
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima

temporarily comment out lens test case
  test/api/_dexes/utils.test.ts
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara

Feat/usdt0 (#1793)
  src/assets/token-logos/usdt0.svg
  src/utils/config.ts
  src/utils/constants.ts
  src/views/Bridge/components/BridgeForm.tsx
  src/views/Bridge/components/TokenSelector.tsx
  src/views/DepositStatus/components/DepositTimesCard.tsx
  test/api/_dexes/utils.test.ts
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara

create distinct frontend and api test environments
  jest.config.cjs
  jest.frontend.config.cjs
  package.json
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara

improve: track fill for swap api tests (#1789)
  scripts/tests/_swap-utils.ts
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @pxrl, @gsteenkamp89, @melisaguevara, @amateima, @ashwinrava

test: rebuild canvas
  .github/actions/setup/action.yaml
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara

use ready as default state
  src/views/DepositStatus/components/CopyButton.tsx
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima

chore: Bump SDK
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara

chore: Bump SDK
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @gsteenkamp89, @amateima, @ashwinrava, @melisaguevara

fix: use previous contracts version for SwapAndBridge definitions
  api/_dexes/lifi/utils/sources.ts
  api/_swap-and-bridge.ts
  package.json
  src/utils/typechain.ts
  yarn.lock
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @pxrl, @melisaguevara, @amateima, @ashwinrava, @gsteenkamp89

regen routes
  src/data/chains_1.json
  src/data/routes_1_0xc186fA914353c44b2E33eBE05f21846F1048bEda.json
Owners: @mrice32, @nicholaspai, @dohaki, @james-a-morris, @pxrl, @gsteenkamp89, @melisaguevara, @amateima, @ashwinrava
